<h1><span class="red"><%= @boxer.name %></span></h1>
<p>
    <img class ="image" align="left" src="<%= @boxer.image_url %>">
    <h4><span class="red" align="right">Wins: </span><%= @boxer.wins%></h4>
    <h4><span class="red" align="right">Losses: </span><%= @boxer.losses%></h4>
    <h4><span class="red" align="right">Ties: </span><%= @boxer.ties%></h4>
    <h4><span class="red" align="right">KO's: </span><%= @boxer.kos%></h4>
    <h4><span class="red" align="right">Division: </span><%= @boxer.division%></h4>
    <h4><span class="red" align="right">Height: </span><%= @boxer.height%></h4>
    <h4><span class="red" align="right">Age: </span><%= @boxer.age%></h4>
    <h4><span class="red" align="right">Hometown: </span><%= @boxer.hometown%></h4>
    <h4><span class="red" align="right">Stance: </span><%= @boxer.stance%></h3>
    <% if current_user %>   
        <p>-----------------------------------------</p>
        <h4>Add to favorites by clicking the boxing glove! :)</h4>
    <% end %>
    <%= link_to image_tag('gloves-white.png', class: 'like-unlike'), boxer_likes_path(@boxer), method: :post  if current_user && !current_user.boxers.include?(@boxer) %>
    <%= link_to image_tag('gloves-red.png', class: 'like-unlike'),  like_path(@boxer), method: :delete  if current_user && current_user.boxers.include?(@boxer) %>

</p>

<% if current_user %>
    <p>-----------------------------------------</p>
    <h3><span class="red">Leave</span> a comment down below!</h3>

    <%= form_for [@boxer, @comment] do |f| %>
        <p>
            <%= f.label :content, 'Comment here...' %></br>
            <%= f.text_area :content %>
        </p>
        <p><%= f.submit  "Add Comment" %></p>
    <% end %>
<% end %>

<p>-----------------------------------------</p>
<h3><span class="red">Comments</span> :</h3>
    <% @boxer.comments.each do |c| %>
        <p><%= c.user.name.capitalize %> Commented: </p>
        <p><%= c.content.capitalize %></p>
        <p>
            <%= link_to 'Delete ', comment_path(c),
                    method: :delete,
                    data: { confirm: 'Are You Sure?'  } if c.user == current_user %> 
                <%= link_to '| Edit ', edit_comment_path(c),
                    method: :get if c.user == current_user %>
        </p>
        <p>--------------------</p>
    <% end %>